<ul class="nav">
	<li>
		<a href="/admin">首页</a>
	</li>
	<li>
		<a href="/admin/user">用户管理</a>
	</li>
	<li>
		<a href="/admin/goods_manage">商品管理</a>
	</li>
	<li>
		<a href="/admin/detail">商品详情</a>
	</li>
	<li>
		<a href="/admin/goods">轮播图管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	<li>
		<a href="/admin/goods">购物车管理</a>
	</li>
	
</ul>